<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<!-- The web.xml file is a configuration file used to control the behavior of WebLogic server. 
In most cases, you will not need to modify this file. For more information on web.xml, please 
consult the Web.xml Deployment Descriptor Elements chapter of the "Developing WebLogic Server 
Applications" documentation on edocs.bea.com. --> 

<web-app>
    <display-name>BookProject Application</display-name>
    <servlet>
        <servlet-name>Knex</servlet-name>
        <servlet-class>weblogic.knex.dispatcher.KnexServlet</servlet-class>
        <init-param>
            <param-name>QueueJNDIName</param-name>
            <param-value>jws.queue</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Knex</servlet-name>
        <url-pattern>*.wsdl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Knex</servlet-name>
        <url-pattern>*.ctrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Knex</servlet-name>
        <url-pattern>*.java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Knex</servlet-name>
        <url-pattern>*.jsx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Knex</servlet-name>
        <url-pattern>*.class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Knex</servlet-name>
        <url-pattern>*.xmlmap</url-pattern>
    </servlet-mapping>

    <!-- Establish the default MIME type mappings -->
    <mime-mapping>
        <extension>map</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
</web-app>
